<HR>
<TABLE border="0" cellPadding="2" cellSpacing="0">
<TR>
  <TD>
    <FORM name=Form1 action="{$PHP_SELF}" method=POST>
      Name : <SELECT name=cboName onChange="document.Form1.submit();">
            {section name=sec1 loop=$i}
            <OPTION value={$resuId[sec1]} {$SELECTED[sec1]}>
            {$resuName[sec1]}
            </OPTION>
            {/section}
            </SELECT>
    </FORM>
  </TD>
  <TD vAlign="top">
    <A href="selectDtSession.php?goTo=clientTrades">Ledger From</A> : {$fromDate} To : {$toDate}
  </TD>
</TR>
</TABLE>
  <TABLE BORDER=1 cellspacing="0" cellpadding="3">
  <TR>
    <TD ALIGN="center">{if $display != "tradesPrint" && $display != "tradesPrintEbhal"}Delete{/if}</TD>
    <TD ALIGN="center">
    <B>  Date</B>
    </TD>
    <TD align="center">
    <B>Transaction In</B>
    </TD>
    <TD ALIGN="center">
    <B> Note </B>
    </TD>
    <TD ALIGN="center">
      <B>! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Credit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; !</B>
    </TD>
    <TD ALIGN="center" NOWRAP>
    <B>! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Debit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; !</B>
    </TD>
    <TD ALIGN="center" >
      <B>&nbsp;</B>
    </TD>
    <TD><B>Total Balance</B></TD>
  </TR>
    {section name=sec2 loop=$k}
      <TR>
        <TD>
          {if $itemIdExpiryDate[sec2] == "Opening" || $display == "tradesPrint"}
          &nbsp;
          {else}
          <A onclick="return confirm('Are you sure?');" 
          href="accCashFlowDelete.php?cashFlowId={$cashFlowId[sec2]}">Delete</A>
          {/if}
        </TD>
        <TD NOWRAP>{$reportDate[sec2]}</TD>
        <TD NOWRAP>{$transMode[sec2]} &nbsp;</TD>
        <TD NOWRAP>{$itemIdExpiryDate[sec2]}</TD>
        <TD NOWRAP align="right">{$reportdwAmount1[sec2]}</TD>
        <TD NOWRAP align="right"> {$reportdwAmount2[sec2]}</TD>
        <TD><B>&nbsp;</B></TD>
        <TD NOWRAP align="right"><B>{$reportcurrentBal[sec2]}</B></TD>
      </TR>
    {/section}
        
  </TABLE>
   --------------------------------------------
  <br>
   Balance as on date {$toDate} = <B>{$totalBalOnDate}
    {if $totalBalOnDate < 0} Dr {else} Cr {/if}
    </B>
