{literal}
<TITLE>Om !!! Client Detail</TITLE>
<SCRIPT LANGUAGE = "JavaScript">
function conf(clientId)
{
  if(confirm("Are You Sure You want to Delete Record?"))
  {
    if(confirm("Do You Want to Delete Client's All Trades?"))
      location.href="deleteClient.php?deleteTrade=1&clientId="+clientId;
    else
      location.href="deleteClient.php?clientId="+clientId;
  }
}
</script>
{/literal}
<BODY bgColor="#FFCEE7">
	<form name="form1" action="" method="POST">
<A href="./index.php">Home</A>
<A href="./clientAdd.php">Add Client</A>
<TABLE BORDER=1 cellPadding="2" cellSpacing="0">
  

</TABLE>
<TABLE border="1" align="center" width="60%" cellpadding="0" cellspacing="0">

  <TR>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD><B>No</B></TD>
    <TD><B>Name</B></TD>
    <TD><B>Brok</B></TD>
    <TD><B>Phone</B></TD>
    <TD><B>Mobile</B></TD>
    <TD><B>Fax</B></TD>
    <TD><B>Email</B></TD>
  </TR>
  {section name=sec loop=$clientId}
    <TR>
      <TD align="center"><a onClick="javascript: return conf({$clientId[sec]});" href="#">Delete</a></TD>
      <TD><a href="clientEdit.php?clientId={$clientId[sec]}">Edit</a></TD>
      <TD align="center">&nbsp;{$clientId[sec]}</TD>
      <TD align="center">&nbsp;{$name[sec]}</TD>
      <TD align="center">
      <INPUT onFocus="this.select();" type="text" name="brock[{$clientId[sec]}]" size="5" value="{$oneSideBroke[sec]}">
			<SELECT name="remiser[{$clientId[sec]}]">
			  {section name=sec1 loop=$clientIdCombo[sec]}
				  {html_options values=$clientIdCombo[sec1] options=$clientName[sec1] selected=$remiser[sec]}
				{/section}
			</SELECT>
      <INPUT type="text" name="remiserBrok[{$clientId[sec]}]" size="3" value="{$remiserBrok[sec]}">
      <INPUT type="text" name="remiserBrokIn[{$clientId[sec]}]" size="3" value="{$remiserBrokIn[sec]}">
      </TD>
      <TD align="center">&nbsp;{$phone[sec]}</TD>
      <TD align="center">&nbsp;{$mobile[sec]}</TD>
      <TD align="center">&nbsp;{$fax[sec]}</TD>
      <TD align="center">&nbsp;{$email[sec]}</TD>
    </TR>
  {/section}
</TABLE>
<TABLE border="1" align="center" width="60%" cellpadding="0" cellspacing="0">
<TR>
  <TD align="center" colspan=""><input type="submit" name="submitBtn" value="Stor..!!"></TD>
</TR>
</TABLE>
</TABLE>
</form>
</BODY>