<HTML>
<HEAD>
  <TITLE>Edit Client
  </TITLE>
</HEAD>
<BODY bgColor="#FFCEE7">
  <FORM name="form1" action="{$PHP_SELF}" METHOD=POST>
  <A href="./index.php">Home</A>&nbsp;&nbsp;
  <A href="./clientList.php">Client List</A>&nbsp;&nbsp;
  <A href="./clientExchangeBrok.php?clientId={$clientId}">Exchange Brokerage</A>
<Center><B>{$message}</Center></B>
  <TABLE BORDER=1 width="100%" cellPadding="2" cellSpacing="0">
   <TR>
      <TD colspan="2">
        Client <INPUT type="radio" name="clientBroker"  value="0" {if $clientBroker eq 0} CHECKED {/if} > 
        Broker <INPUT type="radio" name="clientBroker"  {if $clientBroker eq 1} CHECKED {/if} value="1">
      </TD>
    </TR>
    <TR>
    <TD colspan="2">
      client Id : <INPUT type="text" name="clientId" size="6" value="{$clientId}">
      First Name : <INPUT type="text" name="firstName" value="{$firstName}">
      Middle : <INPUT type="text" name="middleName" value="{$middleName}">
      Last : <INPUT type="text" name="lastName" value="{$lastName}">
    </TD>
  </TR>
  <TR>
    <TD align="right">Deposit :</TD>
    <TD><INPUT type="text" name="deposit" value={$deposit}></TD>
  </TR>
  <TR>
    <TD align="right">Address :&nbsp;</TD>
    <TD><TEXTAREA name="address" rows=3 cols=50>{$address}</TEXTAREA></TD>
  </TR>
  <TR>
    <TD align="right">Phone :&nbsp;</TD>
    <TD><INPUT type="text" name="phone" value={$phone}>&nbsp;Fax :&nbsp;
      <INPUT type="text" name="fax" value={$fax}></TD>
  </TR><TR>
    <TD align="right">Mobile :&nbsp;</TD>
    <TD><INPUT type="text" name="mobile" value={$mobile}></TD>
  </TR><TR>
    <TD align="right">Email :&nbsp;</TD>
    <TD><INPUT type="text" name="email" value={$email}></TD>
  </TR>
  <TR><TD align=center colspan="2"><h4>Brokerage...</TD></TR>
  <TR>
  	<TD>&nbsp;</TD>
  	<TD valign="bottom">
  		<b>One Side Brok</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		<b>Brok 1</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		<b>Brodk 2</b> &nbsp;&nbsp;&nbsp;
  	</TD>
  <TR>
{section name=sec1 loop=$i}
  <TR>
    <TD>{$exchange[sec1]} :: {$itemName[sec1]}</TD>
    <TD>
    	<INPUT type="hidden" name="itemName[{$itemName[sec1]}]" size="15" value="{$itemName[sec1]}" />
    	<INPUT type="text" name="oneSideBrok[{$itemName[sec1]}]" size="15" value="{$oneSideBrok[sec1]}" />
    	<INPUT type="text" name="brok1[{$itemName[sec1]}]" size="8" value="{$brok1[sec1]}" />
    	<INPUT type="text" name="brok2[{$itemName[sec1]}]" size="8" value="{$brok2[sec1]}" />
    </TD>
  </TR>
{/section}   
  <TR>
    <TD><INPUT type="submit" name="submitBtn" value="Submit me!"></TD>
    <TD><INPUT type="reset" value="Reset"></TD>
  </TR>
  </TABLE>
    <SCRIPT language="javascript">document.form1.firstName.focus();</SCRIPT>
  </FORM>
</BODY>
</HTML>