<HTML>
<HEAD><TITLE>Add Vendor</TITLE></HEAD>
<BODY bgColor="#FFCEE7">
  <FORM name="form1" action="{$PHP_SELF}" METHOD="post">
  <A href="./index.php">Home</A>&nbsp;&nbsp;&nbsp;&nbsp;
  <A href="./vendorList.php">Vendor List</A>
  <TABLE BORDER=1 width="100%">
  <TR>
    <TD colspan="2">
      First Name : <INPUT type="text" name="firstName">
      Middle : <INPUT type="text" name="middleName">
      Last : <INPUT type="text" name="lastName">
    </TD>
  </TR>
  <TR>
    <TD align="right">Deposit :&nbsp;</TD>
    <TD><INPUT type="text" name="deposit"></TD>
  </TR>
  <TR>
    <TD align="right">Address :&nbsp;</TD>
    <TD><TEXTAREA name="address" rows=3 cols=50></TEXTAREA></TD>
  </TR>
  <TR>
    <TD align="right">Phone :&nbsp;</TD>
    <TD><INPUT type="text" name="phone">&nbsp;Fax :&nbsp;<INPUT type="text" name="fax"></TD>
  </TR><TR>
    <TD align="right">Mobile :&nbsp;</TD>
    <TD><INPUT type="text" name="mobile"></TD>
  </TR><TR>
    <TD align="right">Email :&nbsp;</TD>
    <TD><INPUT type="text" name="email"></TD>
  </TR>
<!---------->
  <TR><TD align=center colspan="2"><h4>Brokerage...</TD><TR>
  {section name=sec1 loop=$itemName}
  <TR>
    <TD>{$itemName[sec1]}</TD>
    <TD><INPUT type="text" name={$itemName[sec1]} value={$oneSideBrok[sec1]}></TD>
  </TR>
  {/section}   
<!---------->
  <TR>
    <TD><INPUT type="submit" name="submitBtn" value="Submit me!"></TD>
    <TD><INPUT type="reset" value="Reset"></TD>
  </TR>
  </TABLE>
    <SCRIPT language="javascript">document.form1.firstName.focus();</SCRIPT>
  </FORM>
</BODY>
</HTML>